/* colors */
/* Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)
Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%) */
/* - Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700 */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');



/* start */

/* small screen devices */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-size: 15px;
 font-family: 'Big Shoulders Display', cursive;
}
.boxes{
 display: flex;
 flex-direction:column;
 margin: 20px 20px;
 color: hsl(0, 0%, 95%);
}
.boxes div{
height: 32vh;
width: 88vw;
padding: 20px;
}
.boxes div h1{
 font-size: 30px;
margin-top: 20px;
}
.boxes div p{
 line-height: 20px;
 color: hsla(0, 0%, 100%, 0.75);
 font-family: 'Lexend Deca', sans-serif;
}
.btn{
 background-color: white;
 border: none;
 width: 100px;
 border-radius: 100px;
 padding: 5px;
 margin-top: 10px;
 cursor: pointer;
 transition: .5s;
}

/* sedans */
.sedans-box{
 background-color:hsl(31, 77%, 52%) ;
}
.sedans-box .btn{
 color:hsl(31, 77%, 52%) ;
}
/* end sedans */

/* suv */
.suvs-box{
 background-color:hsl(184, 100%, 22%) ;
}
.suvs-box .btn{
 color:hsl(184, 100%, 22%) ;
}
/* suv end */

/* luxury */
.luxury-box{
 background-color: hsl(179, 100%, 13%);
}
.luxury-box .btn{
 color:hsl(179, 100%, 13%) ;
}
.btn:hover{
background-color: transparent;
border: 1px solid  white;
color: white;
}
/* luxury end */

/* media query */

/* small height device */
@media  screen and (max-height:660px) {
.boxes div{
 padding: 15px;
}
 .boxes div h1{
  font-size: 20px;
 }
 .boxes div p{
  font-size:9px;
 }
 .btn{
  padding: 1px;
 }
}
@media  screen and (max-height:428px) {
.boxes div button{
position: relative;
left: 320px;
bottom: 70px;
}
.boxes div{
height: 32vh;
}

}
/* tablet */
@media  screen and (min-height:1000px) {
.boxes div{
 padding: 80px;
}
 .boxes div h1{
  font-size: 30px;
 }
 .boxes div p{
  font-size: 12px;
  line-height: 30px;
 }
 .btn{
  padding: 5px;
 }
}
/* desktop */
@media  screen and (min-width:1025px) {
.boxes-container{
 display: flex;
height: 100vh;
width: 100vw;
align-items: center;
justify-content: center;
}
.boxes{
 flex-direction: row;
}
.boxes div{
 width: 20vw;
 height: 60vh;
 padding: 38px;
}
.boxes div h1{
 font-size: 40px;
}
.boxes div p{
 font-size: 15px;
 line-height: 24px;
 margin-top: 30px;
}
.boxes div .btn{
padding: 12px;
width: 140px;
position: absolute;
top: 70vh;
 font-family: 'Lexend Deca', sans-serif;
}
}